body{
	background-color: #0075C9;
}

*{
	font-family: 'Lato', sans-serif;
}

nav{
	background-color:#fafafa;
	height:60px;
}
#main-section{
	padding:10px 20px;
}
#test-container .card{
	padding:20px 10px;
}
#taken-hours .btn{
	margin-top: 5px;
}

.hidden{
	display: none;
}
.logo{
	height:30px;
	margin-top:3px;
	margin-left: 3px;
}


.main-text{
	font-size: 2rem;
	color: #0075C9;
	font-weight:700;
}
.subtext{
	color:#666666;
}
.helper-text{
	color:#0075C9;
	font-weight: 400;
}
.helper-through{
	background-color: #ffb300;
	color:white;
	width:auto;
	height:120px;
	text-align: center;

}
#search{
	background-color:#0075C9;
	width: 100%;
}
.btn{
	background-color:#0075C9;
}
.hour-card{
	background-color: #0075C9;
	color:white;
	border:1px solid white;
}

/* -------- welcome view  ----- */
ul.select-dropdown,ul.dropdown-content{
    width:25% !important;
}